@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .btn {
    @apply text-xl font-medium px-12 py-6 rounded-lg text-white flex gap-4 items-center justify-center bg-black hover:brightness-95 hover:shadow-lg;
  }

  .btn-disabled {
    @apply opacity-30 brightness-100 shadow-none cursor-not-allowed;
  }

  .link {
    @apply text-sky-600 hover:underline;
  }

  .selected-time-range {
    @apply bg-black text-white border-black font-normal;
  }

  .hovered-time-range {
    @apply hover:bg-gray-100 hover:duration-100;
  }

}
