@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-xl font-medium px-12 py-6 rounded-lg text-white flex gap-4 items-center justify-center bg-black hover:brightness-95;
  }
  .link {
    @apply text-colourify-blue hover:brightness-80;
  }
}